.main {
  @include flex;
}

.app-title {
  font-size: 3em;
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}