
  .search-form {
    display: flex;
    width: 100%;
    position: relative;

    .search-label {
      &.label-hidden {
        height: 0px;
        width: 0px;
        overflow: hidden;
      }
    }
    .search-input {
      width: 100%;
      height: 40px;
      font-size: 1.5em;
      border-radius: 0;
      border: 0;
      margin: auto;
    }

    .search-button {
      position: absolute;
      right: 0;
      height: 100%;
      background: transparent;
      border: none;
    }

    .search-icon {
      width: 2em;
      height: 2em;
    }

  }