.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.app-title {
  font-size: 3em;
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
  width: 200px;
  padding: 20px 10px;
}

.sidebar .sidebar-header {
  margin: 5px;
  font-size: 1.5em;
}

.sidebar .sidebar-list {
  list-style: none;
  margin: auto;
  padding: 0;
  margin-top: 0;
}

.sidebar .sidebar-list .sidebar-button {
  font-size: 1.25em;
  color: #aaa;
  font-weight: 700;
  -webkit-transition: .5s all;
  transition: .5s all;
  padding: 10px;
}

.sidebar .sidebar-list .sidebar-button:hover {
  color: #444;
}

.sidebar .sidebar-list .sidebar-button.current {
  color: #000;
}

.shelves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.shelves .shelf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.shelves .shelf .book-list {
  list-style: none;
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-pack: normal;
          justify-content: normal;
  -webkit-justify-content: normal;
  -moz-justify-content: normal;
  -ms-flex-pack: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.shelves .shelf .book-list .book-list-item {
  margin: auto 10px;
}

.book {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
  width: 100%;
  position: relative;
}

.book .book-tn {
  margin: auto;
  background-size: contain;
  height: 200px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

.book .book-title {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}

.book .book-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 160px;
  right: 30px;
  cursor: pointer;
}

.book .book-button .circle-svg {
  width: 100%;
  height: 100%;
}

.book .book-menu {
  display: none;
  position: absolute;
  background-color: white;
  width: 150px;
  top: 170px;
  left: 180px;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book .book-menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book .book-menu .book-menu-header {
  margin: 5px;
}

.book .book-menu .book-menu-list {
  list-style: none;
  margin: auto;
  padding: 0;
}

.book .book-menu .book-menu-list .book-menu-list-item {
  padding: 5px;
}

.book .book-menu .book-menu-list .book-menu-list-item:hover {
  background-color: #444;
}

.book .book-menu .book-menu-list .book-menu-list-item:hover .menu-button {
  color: #fff;
}
